@font-face {
    font-family: 'Roboto2';
    src: url('#{$roboto_path}/medium/Roboto-Medium-webfont.eot');
    src: url('#{$roboto_path}/medium/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$roboto_path}/medium/Roboto-Medium-webfont.woff') format('woff'),
         url('#{$roboto_path}/medium/Roboto-Medium-webfont.ttf') format('truetype'),
         url('#{$roboto_path}/medium/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

