.student-index {
    background-color: #FFF;
}

.student-index .card-header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 30px;
}

.student-index .nav > li > a {
    padding: 20px 15px
}