h1 {
    font-size: 32px !important;
    font-family: Proxima Nova,sans-serif !important;
}

.content h1 {
    margin-top: 0 !important;
}

.title-action {
    position: absolute;
    top: 0;
    right: 0;
}

.navbar-brand {
    display: inline-block;
    /*height: 68px;*/
    padding: .5rem 1rem;
    margin-right: 0;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 50%;
    /*border-bottom: 1px solid #dee2e6;*/

    width: 40px!important;
    background-image: url('/img/logo.png')!important;
    background-size: contain!important;
}

.navbar-title span {
    display: block;
    font-size: 70%;
}

.navbar-nav {
    display: flex;
    align-items: center;
}


.languages__list {
    list-style: none !important;
    font-size: 12px;
    margin-right: 20px;
    padding: 0;
}

.languages__item {
    border-bottom: 1px solid #c2cfd6;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

.languages__item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.languages__link {
    color: #536c79;
}

.languages__link--active {
    color: #ae7dd1;
    cursor: text;
}

.navbar-username {
    font-weight: 700;
    color: #536c79 !important;
}



.skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav>li>a, .skin-black-light .main-header .navbar .navbar-right>li>a {
    border-left: none;
}

.navbar-title {
    font-size: 16px;
}

.sidebar-toggle {
    font-size: 20px;
}

.nav-help {
    color: #c2cfd6 !important;
    font-size: 30px;
    padding: 0 !important;
}

.navbar-username {
    line-height: 45px !important;
    padding-bottom: 0!important;
    padding-top: 0 !important;
}

.navbar-nav>.user-menu .user-image {
    width: 48px;
    height: 48px;
    border-color: #ae7dd1 !important;
    border-radius: 50em;
    border: 2px solid;
}

.main-sidebar {
    padding-top: 68px !important;
}

.nav-tabs a {
    color: #6c757d !important;
}

.nav-tabs .active > a{
    color: #212529 !important;
}

.nav-tabs .active:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background: #ae7dd1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #fff;
    border: none;
}

.nav-tabs {
    border-bottom: none;
}

.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus {
    background-color: #FFF;
    color: #212529 !important;
}

.nav-tabs > li > a:hover {
    border-color: #FFF;
}


/* LOGIN */


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: Proxima Nova, sans-serif !important;
    font-weight: 700;
}

.justify-content-center {
    justify-content: center!important;
}
.row {
    display: flex;
}

.card-group {
    display: flex;
    flex-direction: column;
}
.card {
    margin-bottom: 1.2rem;
    border: 1px solid #e4e5e6;
    box-shadow: 3px 3px 2px 0 rgba(0,0,0,.1);
}
.p-4 {
    padding: 24px !important;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c2cfd6;
}
.card.bg-primary {
    border-color: #ae7dd1;
}
.bg-primary {
    background-color: #ae7dd1!important;
}
.text-white {
    color: #fff!important;
}
.text-center {
    text-align: center!important;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.align-items-center {
    align-items: center!important;
}

.flex-row {
    flex-direction: row!important;
}

.h1, h1 {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 24px;
    font-weight: 400;
}

.pl-4, .px-4 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.pb-5, .py-5 {
    padding-bottom: 48px !important;
    padding-top: 48px !important;
}

.h2, .h3, h2, h3 {
    line-height: 24px;
    margin-bottom: 24px;
}

article dl, article ol, article ol ol, article ol ul, article ul, article ul ol, article ul ul, p {
    margin-bottom: 24px;
}

.h2, h2 {
    font-size: 21px;
}

@media (min-width: 576px){
    .card-group {
        flex-flow: row wrap;
    }
    .card-group>.card {
        flex: 1 0 0%;
        margin-bottom: 0;
    }
    .card-group>.card+.card {
        margin-left: 0;
        border-left: 0;
    }
    .card-group>.card {
        flex: 1 0 0%;
        margin-bottom: 0;
    }
}

.input-group-addon, .input-group-btn {
    min-width: 40px;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-prepend {
    margin-right: -1px;
}
.input-group-append, .input-group-prepend, .input-group>.custom-file {
    display: flex;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #f1f1f1;
    border: 1px solid #c2cfd6;
}
.ml-4, .mx-4 {
    margin-left: 20px !important;
}

.mr-4, .mx-4 {
    margin-right: 20px !important;
}

.mt-4 {
    margin-top: 20px !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.skin-white {
    background-color: #FFF;
}

/* SPECIALITY */
.speciality:hover {
    background-color: #EEE;
}

.alerts-container {
    position: absolute;
    margin: 1%;
    top: 0;
    right: 0;
}
